#welcome {
    padding-top: 2rem;
    background-color: #e2edff;
}

#study {
    background-color: #e2edff;
}

#experience {
    background-color: #e2edff;
}

#socialmedia {
    background-color: #e2edff;
}
